@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

/* Styling scrollbar agar mirip ChatGPT/Gemini */
.textarea-custom::-webkit-scrollbar {
  width: 6px;
}

.textarea-custom::-webkit-scrollbar-thumb {
  background: rgba(131, 131, 131, 0.5);
  border-radius: 10px;
}

.textarea-custom::-webkit-scrollbar-track {
  background: transparent;
}