@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  overflow: overlay;
  font-family: Arial, Helvetica, sans-serif;
}

/* Modify code Font */
code {
    font-family: 'JetBrains Mono', monospace !important;
}

/* Styling scrollbar ChatGPT/Gemini */
.textarea-custom::-webkit-scrollbar {
  width: 6px;
}

.textarea-custom::-webkit-scrollbar-thumb {
  cursor: default;
  background: rgba(131, 131, 131, 0.5);
  border-radius: 10px;
}

.textarea-custom::-webkit-scrollbar-thumb:hover {
  background: rgba(131, 131, 131, 0.7);
}

.textarea-custom::-webkit-scrollbar-track {
  cursor: default;
  border-radius: 10px;
  background: rgba(236, 236, 236, 0.5);
}

.transition-height {
  -webkit-transition: height 0.2s ease;
	-moz-transition: height 0.2s ease;
	transition: height 0.2s ease;
}